package ${package.Entity};

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;

/**
 * @author ${author}
 * @since ${date}
 */

@Getter
@Setter
@ApiModel(value = "$!{table.comment}")
public class ${entity}Request {

## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
    @ApiModelProperty("${field.comment}")
    private ${field.propertyType} ${field.propertyName};
#end
## ----------  END 字段循环遍历  ----------

}
