package ${requestPackage};

#foreach($pkg in ${requestImportPackages})
import ${pkg};
#end
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;
import ${requestSuperClassPackage};

/**
 * @author ${author}
 * @since ${date}
 */
@Getter
@Setter
@ApiModel(value = "$!{table.comment}")
public class ${entity}Request extends ${requestSuperClass} {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})

    @ApiModelProperty("${field.comment}")
    #if("$!field.propertyType" == "Date")
    private String ${field.propertyName};
    #else
    private ${field.propertyType} ${field.propertyName};
    #end
#end
## ----------  END 字段循环遍历  ----------

}
